<div class="sidebar">
  <div class="sidebar-inner">
    <div class="blog-details">
      <header>
        <h1 class="blog-title"><a href="/" title="{{@blog.title}}">{{@blog.title}}</a></h1>
        <h2 class="blog-description">{{@blog.description}}</h2>
      </header>
    </div>
    <div class="blog-options">
      <nav class="blog-nav">
        {{navigation}}
      </nav>

      <footer>
        <p id="sidebar-footer"></p>
      </footer>
    </div>
  </div>
</div>